<div class="center mr-auto ml-auto" id="showproyects" ng-controller="ProjectsCtrl">

    <!--Tabla de proyectos-->
    <div>
        <div class="card text-dark">
            <div class="card-header">
                <div class="row">
                    <h1 class="card-title ml-3 mr-auto">Proyectos</h1>
                    <button type="button" class="btn btn-outline-primary btn-lg mr-3" data-toggle="modal"
                            data-target="#checkInsertProject">
                        Añadir
                    </button>
                    </li>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-hover table-striped table-dark">
                    <caption data-toggle="tooltip" data-placement="bottom"
                             title="No se muestran los proyectos dados de baja o finalizados.">Lista de proyectos
                        activos
                    </caption>
                    <thead class="thead-dark">

                    <th scope="col">Desccripción</th>
                    <th scope="col">F. Inicio</th>
                    <th scope="col">F. Fin</th>
                    <th scope="col">Lugar</th>
                    <th scope="col">Accion</th>

                    </thead>
                    <tfoot class="table-info">
                    <th scope="col">Desccripción</th>
                    <th scope="col">F. Inicio</th>
                    <th scope="col">F. Fin</th>
                    <th scope="col">Lugar</th>
                    <th scope="col">Accion</th>
                    </tfoot>
                    <tbody>
                    <!--ng-click="getProjectInfo(project)"-->
                    <tr ng-repeat="project in projects" data-toggle="modal"
                        data-target="#checkShowProject"
                        title="Mostrar información del proyecto solicitado.">
                        <td>{{project.txDescripcion }}</td>
                        <td>{{project.fInicio | date:"dd-MM-yyyy"}}</td>
                        <td>{{project.fFin | date:"dd-MM-yyyy"}}</td>
                        <td>{{project.txLugar}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-warning btn-sm"
                                    ng-click="delProject(project)">Eliminar
                            </button>
                            <button type="button" class="btn btn-outline-warning btn-sm"
                                    ng-click="setProjectInfo(project)">{{project.idProyecto}}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <p>
                    Consultado a: {{date | date:'dd-MM-yyyy @ h:mm:ssa'}}
                </p>
            </div>
        </div>
    </div>


    <!-- Modals -->
    <!--Insert modal-->
    <div class="modal fade text-dark" id="checkInsertProject" tabindex="-1" role="dialog"
         aria-labelledby="checkInsertLabelP"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkInsertLabelP">Nuevo proyecto</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card w-auto text-dark mb-3">
                        <div class="card-header">
                            <h3 class="card-title">Datos de proyecto</h3>
                        </div>
                        <div class="card-body">
                            <form id="newProject">
                                <!-- Nombre -->
                                <div class="form-group">
                                    <label for="newProjectDescForm">Descrpción</label>
                                    <input type="text" class="form-control" id="newProjectDescForm"
                                           aria-describedby="descHelp" placeholder="Descripción del proyecto"
                                           ng-model="project.txDescripcion">
                                    <small id="descHelp" class="form-text text-muted">IDescriba el proyecto.
                                    </small>
                                </div>
                                <!-- F. Inicio -->
                                <div class="form-group">
                                    <label for="newProjectfAltForm">Fecha de início</label>
                                    <input type="date" class="form-control" id="newProjectfAltForm"
                                           aria-describedby="fAltHelp" placeholder="dd-mm-aaaa"
                                           ng-model="project.fInicio">
                                    <small id="fAltHelp" class="form-text text-muted">El formato fecha debe coincidir
                                        con "dd/mm/aaaa"
                                    </small>
                                </div>
                                <!-- F. Fin -->
                                <div class="form-group">
                                    <label for="newProjectfFinForm">Fecha de finalización</label>
                                    <input type="date" class="form-control" id="newProjectfFinForm"
                                           aria-describedby="fFinHelp" placeholder="dd-mm-aaaa" ng-model="project.fFin">
                                    <small id="fFinHelp" class="form-text text-muted">El formato fecha debe coincidir
                                        con "dd/mm/aaaa"
                                    </small>
                                </div>
                                <!-- Lugar -->
                                <div class="form-group">
                                    <label for="newProjectPlaceForm">Lugar</label>
                                    <input type="text" class="form-control" id="newProjectPlaceForm"
                                           aria-describedby="palceHelp" placeholder="Lugar del proyecto"
                                           ng-model="project.txLugar">
                                    <small id="palceHelp" class="form-text text-muted">Lugar donde se desarrolla el
                                        proyecto.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="newProjectObsForm">Observaciones</label>
                                    <input type="text" class="form-control" id="newProjectObsForm"
                                           aria-describedby="obsHelp" placeholder="Observaciones del proyecto"
                                           ng-model="project.txObservaciones">
                                    <small id="obsHelp" class="form-text text-muted">Observaciones del proyecto.
                                    </small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No, sácame de aquí</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addProject()">Si,
                        insertar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--ShowInfoModal-->
    <div class="modal fade text-dark" id="checkShowProject" tabindex="-1" role="dialog"
         aria-labelledby="checkInsertLabelP"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkShowProjectP">Mostrando información</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--Project info-->
                    <div class="card w-auto text-dark mb-3">
                        <div class="card-header">
                            <h3 class="card-title">Datos del proyecto: {{proInfo.txDescripcion}}</h3>
                        </div>
                        <div class="card-body col">

                            <form id="showProject">
                                <div class="form-row">
                                    <!-- Decripción -->
                                    <div class="form-group col-lg-6">
                                        <label for="newProjectDescForm">Descripción</label>
                                        <input type="text" class="form-control" id="ProjectDescForm"
                                               aria-describedby="descHelp" placeholder="{{proInfo.txDescripcion}}"
                                               readonly>
                                    </div>
                                    <!-- Lugar -->
                                    <div class="form-group col-lg-6">
                                        <label for="newProjectPlaceForm">Lugar</label>
                                        <input type="text" class="form-control" id="ProjectPlaceForm"
                                               aria-describedby="palceHelp" placeholder={{proInfo.txLugar}} readonly>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <!-- F. Inicio -->
                                    <div class="form-group col">
                                        <label for="newProjectfAltForm">Fecha início</label>
                                        <input type="text" class="form-control" id="ProjectfAltForm"
                                               placeholder="{{proInfo.fInicio | date : 'dd/MM/yyyy'}}"
                                               aria-describedby="fAltHelp" readonly>
                                    </div>
                                    <!-- F. Fin -->
                                    <div class="form-group col">
                                        <label for="newProjectfFinForm">Fecha fin</label>
                                        <input type="text" class="form-control" id="ProjectfFinForm"
                                               aria-describedby="fFinHelp"
                                               placeholder="{{proInfo.fFin| date : 'dd/MM/yyyy'}}" readonly>
                                    </div>
                                    <!-- F. Baja -->
                                    <div class="form-group col">
                                        <label for="newProjectfFinForm">Fecha Baja</label>
                                        <input type="text" class="form-control" id="ProjectfBajaForm"
                                               aria-describedby="fBajaHelp"
                                               placeholder="{{proInfo.fBaja| date : 'dd/MM/yyyy'}}" readonly>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="newProjectObsForm">Observaciones</label>
                                        <textarea type="text" class="form-control" id="ProjectObsForm"
                                                  aria-describedby="obsHelp"
                                                  readonly>{{proInfo.txObservaciones}}</textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--Employee's asigment-->
                    <div class="card w-auto text-dark mb-3">
                        <div class="card-header">
                            <h3 class="card-title">Empleados del proyecto:</h3>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <form name="AsigmentForm">
                                    <div class="row">
                                        <!--Empleados asignados-->
                                        <div class="col-md-4 mr-auto text-left row">
                                            <p href="#">Empleados asignados</p>
                                            <select name="asignedEmployees" class="selectpicker" multiple>
                                                <option value="{{employee.idEmpleado}}" ng-repeat="employee in employees">{{employee.txNombre}}
                                                    {{employee.txApellido1}}
                                                </option>
                                            </select>
                                        </div>
                                        <!--Acciones-->
                                        <div class="col-md-2 mr-1 ml-1 btn-group-vertical">
                                            <button type="button" class="btn btn-secondary" ng-click="assignEmployee(3,3)"><</button>
                                            <button type="button" class="btn btn-secondary">></button>
                                        </div>
                                        <!--Empleados asignados-->
                                        <div class="col-md-4 ml-auto text-right row">
                                            <p href="#">Empleados no asignados</p>
                                            <select name="unasignedEmployees" class="selectpicker" multiple>
                                                <option value="{{employee.idEmpleado}}" ng-repeat="employee in allEmployees">{{employee.txNombre}}
                                                    {{employee.txApellido1}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>